<h6><%= link_to "< #{@project.organization.handle}", organization_path(@project.organization), class: "link" %></h6>
<h5>Project</h5>
<h1><%= @project.handle %></h1>

<ul class="list-disc">
  <h4>Reports</h4>

  <% if @reports.blank? %>
    <li>No reports yet...</li>
  <% end %>

  <% @reports.each do |report| %>
    <li><a href="<%= bundled_html_report_path(report) %>" class="link"><%= report.name %></a></li>
  <% end %>
</ul>

<div class="card mt-6">
  <h3>API token</h3>

  <%= form_with model: Project.new, class: "flex flex-col items-start gap-4" do |form| %>
    <div>
      <%= form.label :handle %>
      <%= form.text_field :handle, placeholder: "my-github-repo" %>
      <div class="text-xs mt-1">Only lowercase letters, numbers, and hyphens. Eg: 'my-github-repo'</div>
    </div>

    <%= form.submit "Create", class: "button" %>
  <% end %>
</div>
