<h6><%= link_to "< #{@project.organization.handle}", organization_path(@project.organization), class: "link" %></h6>
<h5>Project</h5>
<h1><%= @project.handle %></h1>

<% if simplecov_progress_last_year.present? %>
  <h4>Last 365 Days</h4>
  <%=
    line_chart(
      simplecov_progress_last_year,
      library: { scales: { y: { beginAtZero: false } } }
    )
  %>
<% end %>

<% if simplecov_progress.present? %>
  <h4>All Time</h4>
  <%=
    line_chart(
      simplecov_progress,
      library: { scales: { y: { type: 'logarithmic' } } }
    )
  %>
<% end %>

<div>
  <ul class="list-disc">
    <h4>Reports</h4>

    <% if @reports.blank? %>
      <li>No reports yet...</li>
    <% end %>

    <% @reports.each do |report| %>
      <li>
        <%= link_to(bundled_html_report_path(report), class: "link") do %>
          <%= report.name %>
        <% end %>
        (<%= [report.branch, report.formatted_coverage].join(" - ") %>)
      </li>
    <% end %>
  </ul>
</div>

<hr class="my-8" />

<div class="flex justify-between items-start">
  <div class="card flex flex-col">
    After running your tests on your CI, zip and CURL the SimpleCov HTML report to flaky.xyz, and it shows up here.
    <br />
    <br />
    Here is an example on how to configure it on your GitHub Actions workflow:
    <br />
    Don't forget to set up your token as a secret on your repository settings.
    <textarea>
your-existing-test-action-on-github:
  permissions:
    pull-requests: write # To post comments on PR

  # ...

  steps:
    # ... Your other test steps, including Rspec/Minitest that generates the SimpleCov HTML report.

    - name: Send SimpleCov to flaky.xyz
      id: flaky-xyz-upload
      if: always()
      run: |
        zip -r simplecov.zip coverage;
        RESPONSE=$(curl -X POST https://flaky.xyz/api/reports/simplecov \
          -F "part=@simplecov.zip" \
          -F "expected_parts=1" \
          -F "run_identifier=${{ github.run_id }}" \
          -H "Authorization: Bearer ${{ secrets.FLAKY_XYZ_TOKEN }}");
        echo "MARKDOWN=$(echo $RESPONSE | jq -r '.markdown')" >> $GITHUB_OUTPUT;

    - name: Comment PR with flaky.xyz results
      uses: thollander/actions-comment-pull-request@v3
      if: always() && github.event_name == 'pull_request'
      with:
        message: |
          ${{ steps.flaky-xyz-upload.outputs.MARKDOWN }}
        comment-tag: flaky-xyx-simplecov
        mode: recreate
    </textarea>

    <a href="https://github.com/Superfiliate/flaky/blob/main/.github/workflows/ci.yml" class="link">
      You can also check a live example on this repository.
    </a>
  </div>

  <div class="card">
    <% if @project.api_auth_digest.blank? %>
      <h3>Create API Token</h3>
      <div class="card bg-warning text-warning-content mb-3">
        This project doesn't have an API token yet.
        <br />
        Create one to start sending reports...
      </div>
    <% else %>
      <h3>Reset API Token</h3>
      <div class="card bg-warning text-warning-content mb-3">
        Your previous API token will no longer work if you reset this!
      </div>
    <% end %>

    <%= form_with model: @project, class: "flex flex-col items-start gap-4" do |form| %>
      <%= form.hidden_field :reset_api_auth, value: true %>
      <% if @project.api_auth_digest.blank? %>
        <%= form.submit "Create 🚀", class: "button" %>
      <% else %>
        <%= form.submit "Reset!", class: "button", data: { "turbo-confirm": "Are you sure? Your previous token will stop working!"} %>
      <% end %>

    <% end %>
  </div>
</div>
